<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.paperref.genrec</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/yangxiaochun/Library/Application Support/PaperBrief/run_daily.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/yangxiaochun/Library/Application Support/PaperBrief/paper_brief.log</string>
	<key>StandardOutPath</key>
	<string>/Users/yangxiaochun/Library/Application Support/PaperBrief/paper_brief.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
