<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.genrec.weekly-output</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/yangxiaochun/Library/Application Support/GenRecOutputs/run_weekly_output.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/yangxiaochun/Library/Application Support/GenRecOutputs/weekly_output.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/yangxiaochun/Library/Application Support/GenRecOutputs/weekly_output.log</string>
</dict>
</plist>
